body {
    font-family: sans-serif;
    font-size: 11px;
}

 .title {
	font-size: 3em;
  	text-align: center;
	padding: 3px;
	margin: 1px;
	color: black;
}

table {
	 border-collapse:collapse;
}

.outer td, th
{
	text-align:left;
	border: 1px solid black;
	padding:2px 10px 2px 10px;
}

.outer th
{
	text-align: center;
}

.inner > tbody > tr > td {
	border: 0px solid black;
}

#mapToId
{
	border: 1px solid black;
}